DB_CLIENT=pg
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=directus
DB_USER=directus
DB_PASSWORD=directus

DB_SSL=false

KEY=
SECRET=

ADMIN_EMAIL=
ADMIN_PASSWORD=

PORT=8055
PUBLIC_URL=

CORS_ENABLED=true
CORS_ORIGIN=true